body {
	background-image: url(../img/background-img.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 768px;
	width: 1366px;
}
/*header start*/
.container {
	max-width: 1366px;
	margin: 0 auto;
}
.registration {
	background-color: rgba(0, 0, 0, 0.41);
	width: 100%;
	height: 54px;
	margin-bottom: 65px;
}
.journey {
	font-family: "Verdana", sans-serif;
	color: #ffffff;
	font-size: 20px;
	font-weight: 700;
	text-align: left;
	padding-left: 81px;
	padding-top: 20px;
	float: left;
}
.journey:hover {
	color: #3cb878;
}
.log-in-sign-up {
	font-family: Verdana;
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	text-align: left;
}
.log-in-text {
	font-family: Verdana;
	color: #3cb878;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	text-align: left;
}
/*sprites start*/
.icon {
	background-image: url("../img/css_sprites.png");
	float: right;
	margin-right: 28px;
	margin-top: 18px;
}
.icon-calendar {
	width: 19px;
	height: 19px;
	background-position: -106px -10px;
}
.icon-calendar:hover {
	width: 19px;
	height: 19px;
	background-position: -106px -49px;
}
.icon-forum {
	width: 28px;
	height: 20px;
	background-position: -10px -10px;
}
.icon-forum:hover {
	width: 28px;
	height: 20px;
	background-position: -58px -10px;
}
.icon-journey {
	width: 20px;
	height: 20px;
	background-position: -10px -50px;
}
.icon-journey:hover {
	width: 20px;
	height: 20px;
	background-position: -50px -50px;
}
/*sprites end*/

.log-in-sign-up {
	float: right;
	font-family: "Verdana", sans-serif;
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	text-align: left;
	margin-right: 75px;
	margin-top: 17px;
}
/*header end*/
.registration-form {
	box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
	background-color: #ffffff;
	width: 444px;
	height: 584px;
	margin: 0 auto;
	position: relative;
	border-radius: 20px;
}
.form-text-big {
	font-family: Verdana;
	color: #434343;
	font-size: 20px;
	font-weight: 400;
	line-height: 21px;
	text-align: center;
	float: left;
	margin-left: 60px;
	margin-top: 29px;
}
.form-text-small {
	font-family: Verdana;
	color: #3cb878;
	font-size: 14px;
	text-align: left;
	float: right;
	margin-right: 59px;
	margin-top: 29px;
}
.registration-form:before {
	position: absolute;
	content: "";
	width: 18px;
	height: 18px;
	background-color:  #3cb878;
	margin-top: 29px;
}
.form-button-facebook {
	border-radius: 3px;
	background-color: #305db8;
	width: 157px;
	height: 46px;
	float: left;
	margin-top: 15px;
	margin-left: 62px;
	text-decoration: none;
}
.form-button-google {
	border-radius: 3px;
	background-color: #df4a32;
	width: 157px;
	height: 46px;
	float: right;
	margin-right: 60px;
	margin-top: 15px;
	text-decoration: none;
}
.fab {
	color: white;
	margin-left: 20px;
	
}
/*не получилось сделать разделение ,так как , хочу сместить Только его по середине , однако двигается все ,хотя по-идее элемент один*/
.fab:after {
	border: 1px solid #eaeaea;
	content: "";
	display: inline-block;
	height: 28px;
	margin-left: 17px;
}

.icon-text {
	font-family: "Verdana",sans-serif;
	color: #ffffff;
	font-size: 16px;
	margin-left:18px;
}
.form-divider {
	display: inline-block;
	margin-bottom: 18px;
	margin-top: 21px;
	padding-left: 62px;
}
.form-divider:before {
	border: 1px solid #eaeaea;
	content: "";
	display: inline-block;
	width: 135px;
	height: 1px;
	margin-right: 18px;
}
.form-divider:after {
	border: 1px solid #eaeaea;
	content: "";
	display: inline-block;
	width: 135px;
	height: 1px;
	margin-left: 18px;
}
.registration-fields {
	text-align: center;
}
.registration-field {
	border-radius: 3px;
	background-color: #ffffff;
	box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
	width: 322px;
	height: 46px;
	margin-bottom: 10px;
}
.registration-field-checkbox {
	margin-bottom: 16px;
}
.registration-field-submit {
	width: 322px;
	height: 46px;
	background-color: rgb(57, 185, 121);
	font-family: "Verdana",sans-serif;
	color: #ffffff;
	font-size: 16px;
	border-radius: 3px;
}
.terms-conditions {
	font-family: "Verdana",sans-serif;
	color: #3cb878;
	font-size: 14px;
	text-align: left;
}
/*clearfix*/
.clearfix::after {
	display: block;
	content: "";
	clear: both;
}